
if SHIELD_cosmotyl_LEFT

config ZMK_KEYBOARD_NAME
    default "cosmotyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_cosmotyl_LEFT

if SHIELD_cosmotyl_LEFT || SHIELD_cosmotyl_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_cosmotyl_LEFT || SHIELD_cosmotyl_RIGHT
