if SHIELD_SPACEMOS_LEFT

config ZMK_KEYBOARD_NAME
  default "spacemos"

config ZMK_SPLIT_ROLE_CENTRAL
  default y


endif

if SHIELD_SPACEMOS_LEFT || SHIELD_SPACEMOS_RIGHT

config ZMK_SPLIT
  default y

endif
